.ar-image {
    padding: 9px 15px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    border-radius: 3px;
}

.ar-image .preview {
    margin: 0 -7px;
    min-height: 157px;
}

.ar-image .cart-size {
    padding: 0;
}

.ar-image .cart {
    padding: 2px;
    position: relative;
    border-radius: 3px;
}

.ar-image .new {
    opacity: 0.85;
}

a.delete-img {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #242323;
    border-radius: 34px;
    padding: 6px 7px;
}

a.delete-img:hover {
    opacity: 0.8;
}

.ar-image .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ar-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    cursor: move;
}

.ar-image p {
    overflow: hidden;
    margin: 5px 0 0;
    text-align: center;
}

.ar-image .management {
    margin-top: 15px;
    padding: 15px 0 0;
    display: flex;
    border-top: 1px solid #d1d1d1;
}

.ar-image .management > div {
    margin-right: 10px;
}

.ar-image .management .skin-file-input, .ar-image .management .delete-all-img {
    padding-left: 8px;
}

.ar-image .management .skin-file-input {
    background-color: #007bff;
    color: #fff;
    transition: 200ms;
}

.ar-image .management .skin-file-input:hover {
    background-color: #0062cc;
}

.ar-image .management .btn i {
    padding: 0;
}

.ar-image .management .skin-file-input i, .ar-image .management .delete-all-img i {
    margin-right: 4px;
    padding-right: 6px;
    border-right: 1px solid #fff;
}

.ar-image .btn.active {
    color: #333;
}

.ar-image .management input[type=file] {
    display: none;
}

.ar-image .btn {
    transition: 200ms;
}

/********************************/

.list-records {

    float: left;
}

.list-records .cart {
    margin: 3px;
    padding: 2px 7px;
    flex-direction: row;
}

.list-records .delete-img {
    display: none;
}

.list-records img {
    margin-right: 5px;
    width: 26px;
    height: 20px;
    border-radius: 2px;
}

.list-records p {
    margin: 0;
    display: flex;
    align-items: center;
    width: 144px;
    white-space: nowrap;
    cursor: pointer;
}